{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
	<meta charset="utf-8">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-71839611-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-71839611-3');
</script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!-- <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"> -->
		<!--<script src="https://use.fontawesome.com/43308c4fa0.js"></script>-->
		<!--<link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">-->
		<script defer src="{% static 'fa/svg-with-js/js/fontawesome-all.js' %}"></script>
		<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,800" rel="stylesheet">
		<link href="{% static 'css/claim.css' %}" rel="stylesheet">
	</head>
	{% block style-base %} {% endblock %}
	<body>

<div class="take_care_of_browser">

		{% block content-base %} {% endblock %}


</div>

		{% block script-base %} {% endblock %}
		 <script type="text/javascript">
		var viewportHeight = $('.take_care_of_browser').innerHeight();
		$('.take_care_of_browser').css({ height: (viewportHeight + 200) });
		 </script>

	</body>
</html>