{% extends "polls/base.html" %}
{% block content-base %}

<div class="landing">

<div class="row">
    <div class="col-md-12">
      <p class="large-text"><strong>Claim more, know better!</strong></p>

    </div>
  </div>

  <div class="row scroll" style="height:60%;">
    

      <p>"Claim and Wonder" is what it says on the tin. Get involved with what the world might look like later today, next month, or in 100 years.</p>

      <p>Expose yourself to people's ideas about the future and create your own claims to see what other people think about them.</p>

      <p>"Claim and Wonder" is <a href="https://github.com/pboes/claim_and_wonder">open-source</a> and non-profit. Sign up now, we don't even ask for your email!</p>
    </div>
  </div>
 

  <div class="row" style="height:20%;">
    
    <div class="col-lg-6 col-md-6 col-sm-6">
      <button class="btn-lg green large-text" >
      <a href="{% url 'conf:signup' %}">SignUp</a>
      </button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      
      <button class="btn-lg blue large-text" >
      <a href="{% url 'login' %}">Login</a>
      </button>
    </div>
  </div>

  </div>

{% endblock %}