{% extends "polls/base.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-12 section_title">
			
			<h1>Latest claims</h1>
		</div>
	</div>
	{% for claim in claims %}
		
		<div class="row overview_row">
			<div class="col-xs-2 col-sm-2 col-md-2 green" >
				{{claim.yes}}
			</div>
			<a href="{% url 'polls:poll' claim.id %}">
				<div class="col-xs-8 col-sm-8 col-md-8">
					{{claim.text}}
					
				</div>
			</a>
			<div class="col-xs-2 col-sm-2 col-md-2 red">
				{{claim.no}}
			</div>
		</div>
	{% endfor %}
{% endblock content %}