
	html, body {
		position: relative;
		overflow: hidden;
		font-family: 'Raleway', sans-serif;
		font-size: 5vh;
		height: 100%;
		text-align:center;
	}

/*	html {
	position: relative;
	overflow: hidden;
	height: 100%;
	}
	* {
	margin: 0;
	padding: 0;
	}*/


/*	p {
		font-size: 7vw;
	}*/

	p {
		padding: 20px;
		margin: 20px;
	}

	button > input {
		background-color: #88AB75;
		border: none;

	}


	button, button > a{
		color:#fff;
	}

	input {
		border: 3px solid;
	}

	h1 {
		font-weight: bold;
	}

	textarea {
		position:relative;
		width: 90%;
	}

	img {
		width: 10%;
		min-width:300px;
	}

	form {
		height:inherit;
		/*overflow:scroll;*/
	}

	label {
		font-weight:normal;
	}

	.landing {
		font-size:3vh;
		overflow-y: scroll;
	}


	.report {
		color: #337ab7;
		margin: 30px;
		border:none;
	}

	.scroll {
		overflow: scroll;
	}

	.btn.active {
		color: black;
	}

	.large-text {
		font-size: 7vh;
	}

	.navbarr {
		height:10vh;
		padding:10px;

	}

	.poll-div {
		height: 70vh; 
		overflow:scroll;
	}

	.poll-text {
		display: flex;
	    align-items: center;
	    margin-left: 10vw;
	    margin-right: 10vw;
	    height: inherit;
	}

/*	.padding_top {
		padding-top:50px;
	}*/

	.col {
		height:inherit;
	}

	.row {
		text-align: center;
	}

	.fa-plus-circle {
		position: fixed;
		font-size: 10vh;
		top: 10px;
		right: 2vw;
	}

	.fa-times-circle {
		font-size: 10vh;
		top: 10px;
		display: inline-block;
	}

	.fa-dot-circle {
		position: fixed;
		font-size: 10vh;
		top: 10px;
		left: 2vw;
	}

	.fa-exclamation-circle {
		position: fixed;
		font-size: 10vh;
		top: 10px;
		left: 25vw;
	}

	.fa-check-circle {
		position: fixed;
		font-size: 10vh;
		top: 10px;
		right: 25vw;
	}

	.fa-arrow-circle-left {
		position: fixed;
		font-size: 10vh;
		/*background: white;*/
		top: 10px;
		left: 2vw;
	}


	.nav-tabs > li, .nav-pills > li {
	    float:none;
	    display:inline-block;
	    *display:inline; /* ie7 fix */
	     zoom:1; /* hasLayout ie7 trigger */
	}

	.nav-tabs, .nav-pills {
    text-align:center;
	}

	.main {
		text-align:center;
	}
	.green {
		background-color: #88AB75;
		color: #fff;
	}
	.red {
		background-color: #DE8F6E;
		color: #fff;
	}
	.skip {
		background-color: #DBD56E;
		color: #fff;
	}
	.blue {
		background-color: #2D93AD;
	}

	.enterclaim {
		position:relative;
		width: 90%;
		height: 50vh;
		word-break: break-word;
		/*font-size: 40px;*/
		border:none;
	}
	.select-btn {
		font-size: inherit;
		font-weight: 700;
		width: 100%;
		height: 100%;
		color: #fff;
		border: none;
		border-radius: 0;
		margin: none;
	}
	.select-col {
		height: 100%;
		padding: 0;
	}

	.signup {
		overflow-y: scroll;
		padding-top:5vh;
		height:100vh;
	}

	.overview_row {
		padding: 30px;
	}

	.modal-lg {
		width: inherit;
		margin:10vw;
	}

	.tab-pane{
		height:80vh;
		overflow-y: scroll;
		width:100%;
	}